{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bag Emporium</title>
   
    <div class="container">
        <div class="logo">
            <img src="{% static 'assets/img/wall.jpg' %}" alt="Bag Emporium Logo">
        </div>
        <h2>Welcome to Bag Emporium</h2>
        <!-- <p>Hello {{ first_name }},</p> -->
        <p>You have been added as a delivery boy. Your temporary password is: <strong>{{ password }}</strong></p><br>
        <p>Please log in and change your password as soon as possible.</p><br>
        <p class="thank-you">Thank you for joining our service!</p>
    </div>
</body>
</html>
