



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Reviews</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Product Reviews</h1>
    <table>
        <thead>
            <tr>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Rating</th>
                <th>Reviews</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td> <img src="{{ review.product_image.url }}" style="max-height: 150px; max-width: 150px;" /></td>
                <td>{{ review.product_name }}</td>
                <td>{{ review.rating }}</td>
                <td>{{ review.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>



