
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>

    body{
    display: flex;
    justify-content: center;
    height: 100vh
    }
    .width-data00 {
        width: 70%;
    }
   
    
    </style>
    <title>Search Products</title>
    <!-- Add jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(function() {
            $("#search-input").keyup(function() {
                var search_term = $(this).val();
    
                // Make AJAX call to fetch suggestions
                $.ajax({
                    url: "{% url 'autocomplete_search' %}",
                    data: {
                        'term': search_term
                    },
                    dataType: 'json',
                    success: function(data) {
                        $("#suggestions").empty(); // Clear previous suggestions
                        
                        // Reverse the order of suggestions
                        data.reverse();
                        
                        for (var i = 0; i < data.length; i++) {
                            $("#suggestions").append('<div class="suggestion">' + data[i] + '</div>');
                        }
    
                        // Handle click on suggestions
                        $(".suggestion").click(function() {
                            var selectedSuggestion = $(this).text();
                            $("#search-input").val(selectedSuggestion);
                            $("#suggestions").empty(); // Clear suggestions after selection
                        });
                    }
                });
            });
        });
    </script>
    
</head>
<body>
    <div class="search_main mt-5 width-data00">
        <form action="{% url 'search_products' %}" method="GET" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control w-70" id="search-input" name="search_term" placeholder="Search ..." autocomplete="off">
                <button type="submit" class="input-group-text bg-success text-light" >
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0" y="0" viewBox="0 0 118.783 118.783" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M115.97 101.597 88.661 74.286a47.75 47.75 0 0 0 7.333-25.488c0-26.509-21.49-47.996-47.998-47.996S0 22.289 0 48.798c0 26.51 21.487 47.995 47.996 47.995a47.776 47.776 0 0 0 27.414-8.605l26.984 26.986a9.574 9.574 0 0 0 6.788 2.806 9.58 9.58 0 0 0 6.791-2.806 9.602 9.602 0 0 0-.003-13.577zM47.996 81.243c-17.917 0-32.443-14.525-32.443-32.443s14.526-32.444 32.443-32.444c17.918 0 32.443 14.526 32.443 32.444S65.914 81.243 47.996 81.243z" fill="#ffffff" opacity="1" data-original="#000000" class=""></path></g></svg>
                </button>
            </div>
        </form>
    
    <div id="suggestions" class="drop-down"></div>
</div>
</body>
</html>
